

/*SHOWCASE -------------------------------------------------------------------*/

#showcase {
    width: auto;
    background-image: url(../img/airplane3.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    position: relative;
    transition: ease-in-out 0.5s;
}

#showcase::before{
    content: "";
    position: absolute;
    background: rgb(0, 0, 0, 0.76);
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

#showcase > *{
    z-index: 2;
    color: white;
    position: relative;
    text-align: left;
    padding: 80px;
}





#showcase3{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background:url("../img/boat3.jpg") no-repeat ;
    width: 100%;
    height: 650px;
}

#showcase5{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background:url("../img/FL4.jpg") no-repeat ;
    width: 100%;
    height: 650px;
}

#showcase6{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background:url("../img/mohbae.jpg") no-repeat ;
    width: 100%;
    height: 650px;
}


#showcase4{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background:url("../img/airplane4.jpg") no-repeat ;
    width: 100%;
    height: 650px;
}

#showcase2{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background:url("../img/helicopta1.jpg") no-repeat ;
    width: 100%;
    height: 650px;
    margin-left: 5px;
}

#showcase1{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background:url("../img/ship6.jpg") no-repeat ;
    width: 100%;
    height: 650px;
    margin-left: 0.6px;
    margin-right: 0px;
}



#showcase10{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    background:url("../img/e-train.jpg") no-repeat  0 -25px;
    width: 100%;
    height: 650px;
}

#showcase3 .show{
    padding-top: 115px;
    margin-bottom: 80px;
    font-size: 42px;
    color: blue;
    font-weight: 500;
}


#showcase .show{
    padding-top: 115px;
    margin-bottom: 68px;
    font-size: 42px;
    color: blue;
    font-weight: 500;
}

#showcase10 .show{
    padding-top: 115px;
    margin-bottom: 68px;
    font-size: 42px;
    color: blue;
    font-weight: 500;
}

#showcase4 .show{
    padding-top: 115px;
    margin-bottom: 108px;
    font-size: 42px;
    color: blue;
    font-weight: 500;
}

#showcase5 .show,
#showcase6 .show{
    padding-top: 115px;
    margin-bottom: 108px;
    font-size: 42px;
    color: blue;
    font-weight: 500;
}

#showcase1 .show{
    padding-top: 115px;
    margin-bottom: 75px;
    font-size: 42px;
    color: blue;
    font-weight: 500;
   
}

#showcase2 .show{
    padding-top: 115px;
    margin-bottom: 75px;
    font-size: 42px;
    color: orange;
    font-weight: 500;
   
}

#showcase .show span,
#showcase4 .show span,
#showcase6 .show span,
#showcase10 .show span{
    color: gold;
}

#showcase5 .show span{
    color: rgb(172, 155, 59);
}

#showcase1 .show span{
    color: rgb(221, 191, 17);
    font-size: 68px;
}

#showcase2 .show span{
    color: brown;
    font-size: 68px;
}

#showcase3 .show span{
    color: gold;
}

.marquee2{
    color: blue;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 66px;
}

.marquee3{
    color: goldenrod;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 80px;
    overflow: hidden;
    position: relative;
}

.marquee4{
    color: goldenrod;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 80px;
    overflow: hidden;
    position: relative;
}

.marquee5,
.marquee6{
    color: indianred;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 80px;
    overflow: hidden;
    position: relative;
}

.marquee1{
    color: lightseagreen;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 85px;
}

.marquee{
    color: lightseagreen;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 85px;
}

.marquee10{
    color: crimson;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 88px;
}

.marquee10:hover{
    font-size: 50px;
}

#showcase p{
    margin-bottom: 55px;
    font-size: 31px;
    color: chartreuse;
    padding-top: 30px;
}

#showcase1 p{
    margin-bottom: 55px;
    font-size: 31px;
    color: rgb(223, 223, 21);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase10 p{
    margin-bottom: 55px;
    font-size: 31px;
    color: yellow;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase3 p{
    margin-bottom: 55px;
    font-size: 33px;
    color: indianred;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase2 p:hover{
    font-size: 39px;
    cursor: pointer;
    padding-bottom: 40px;
}

#showcase4 p{
    margin-bottom: 55px;
    font-size: 33px;
    color: indianred;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase5 p,
#showcase6 p{
    margin-bottom: 55px;
    font-size: 36px;
    color: darkkhaki;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#showcase10 p:hover{
    font-size: 37px;
    cursor: pointer;
    color: rgb(255, 228, 75);
}

#showcase2 p{
    margin-bottom: 55px;
    font-size: 33px;
    color: rgb(221, 149, 15);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
